apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
name: xstorageaccounts.storage.example.io
labels:
provider: azure
type: standard
environment: dev
spec:
compositeTypeRef:
apiVersion: storage.example.io/v1alpha1
kind: XStorageAccount

mode: Pipeline

pipeline:

- step: patch-and-transform
  functionRef:
  name: function-patch-and-transform
  input:
  apiVersion: pt.fn.crossplane.io/v1beta1
  kind: Resources
  resources:
  
  # Resource Group
  - name: resourcegroup
    base:
    apiVersion: azure.upbound.io/v1beta1
    kind: ResourceGroup
    spec:
    forProvider:
    location: westeurope
    tags:
    managedBy: crossplane
    environment: dev
    patches:
    - type: FromCompositeFieldPath
      fromFieldPath: spec.parameters.location
      toFieldPath: spec.forProvider.location
    - type: FromCompositeFieldPath
      fromFieldPath: spec.parameters.resourceGroupName
      toFieldPath: metadata.name
    - type: FromCompositeFieldPath
      fromFieldPath: spec.parameters.tags
      toFieldPath: spec.forProvider.tags
      policy:
      mergeOptions:
      keepMapValues: true
    - type: ToCompositeFieldPath
      fromFieldPath: metadata.name
      toFieldPath: status.resourceGroupName
  
  # Storage Account
  - name: storageaccount
    base:
    apiVersion: storage.azure.upbound.io/v1beta2
    kind: Account
    metadata:
    labels:
    testing.upbound.io/example-name: storageaccount
    spec:
    forProvider:
    accountReplicationType: LRS
    accountTier: Standard
    location: westeurope
    resourceGroupNameSelector:
    matchControllerRef: true
    tags:
    managedBy: crossplane
    environment: dev
    patches:
    - type: FromCompositeFieldPath
      fromFieldPath: spec.parameters.location
      toFieldPath: spec.forProvider.location
    - type: FromCompositeFieldPath
      fromFieldPath: spec.parameters.accountTier
      toFieldPath: spec.forProvider.accountTier
    - type: FromCompositeFieldPath
      fromFieldPath: spec.parameters.replicationType
      toFieldPath: spec.forProvider.accountReplicationType
    - type: FromCompositeFieldPath
      fromFieldPath: spec.parameters.tags
      toFieldPath: spec.forProvider.tags
      policy:
      mergeOptions:
      keepMapValues: true
    - type: ToCompositeFieldPath
      fromFieldPath: metadata.name
      toFieldPath: status.storageAccountName
    - type: ToCompositeFieldPath
      fromFieldPath: status.atProvider.primaryBlobEndpoint
      toFieldPath: status.primaryEndpoint
      readinessChecks:
    - type: MatchString
      fieldPath: status.atProvider.provisioningState
      matchString: “Succeeded”
- step: auto-ready
  functionRef:
  name: function-auto-ready
